@import "tailwindcss";
html {
  scroll-behavior: smooth;
}
@keyframes fade {
  0% { opacity: 0; }
  20% { opacity: 1; }
  50% { opacity: 1; }
  70% { opacity: 0; }
  100% { opacity: 0; }
}

/* body{background-color: black;} */